<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Bank Id</th>
        <th>Account Id</th>
        <th>Account number</th>
        <th>Account type</th>
        <th>Balance</th>
        <th>Currency</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="account in myAccountList">
        <td>{{account.bank_id}}</td>
        <td>{{account.id}}</td>
        <td>{{account.number}}</td>
        <td>{{account.type}}</td>
        <td>{{account.balance.amount}}</td>
        <td>{{account.balance.currency}}</td>
      </tr>

    </tbody>
  </table>
</div>